@charset "utf-8";
/* CSS Document */

html
{
	margin: 0px;
	padding: 0px;
}

body { 
	background: url(img/multicolor.png) center fixed no-repeat  #eff4ff;
	color: #eff4ff;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

#navigation
{
	/*border: #0C0 thin solid;*/
	margin: 15px 5px 5px 100px;
	padding:0px;
	float:left;
	width:490px;
}

#div1
{
	/*border: #F9C thin solid;*/
	margin: 0px;
	padding:0px;
	width:320px;
	height:315px;
	float:left;
}

#div2
{
	/*border: #FF0 thin solid;*/	
	margin: 0px;
	padding:0px;
	width:150px;
	height:315px;
	float:left;
}

#Main
{
	/*border: #FFF thin solid;*/
	margin: 35px 0px;
	padding:0px;	
	width: 750px;
	float:right;
}

#slide
{
	/*border: #FFF thin solid;*/
	margin: 0px;
	padding:0px;
	height:350px;
	width:inherit;
	float:left;
	position: static;
}

.titulo
{
	/*border: #FFF thin solid;*/
	margin:10px;
	padding:5px;
	float:left;
	position: static;
}

#banner
{
	background: no-repeat fixed center url(img/m2.png);
	color: #eff4ff;
	margin: 0px;
	padding:25px;
	width:650px;
	float:right;
	position: relative;
}

